@model MagicVilla_Web.Models.Dto.RegisterationRequestDTO

<form method="post" class="mt-5">
    <div class="container border rounded p-4 bg-light shadow">
        <div class="row mb-4">
            <div class="col text-center">
                <h1 class="display-4">Реєстрація</h1>
                <p class="text-muted">Заповніть форму, щоб створити обліковий запис</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 text-center">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6 offset-md-3 pb-2">
                <input asp-for="UserName" type="text" class="form-control form-control-lg" placeholder="Логін..." />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="col-md-6 offset-md-3 pb-2">
                <input asp-for="Name" type="text" class="form-control form-control-lg" placeholder="Ім'я..." />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-md-6 offset-md-3 pb-2">
                <input asp-for="Password" type="password" class="form-control form-control-lg" placeholder="Пароль..." />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-md-6 offset-md-3 pb-2">
                <button type="submit" class="btn btn-success btn-lg w-100">Зареєструватись</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
